@import "../assests/styles/base";

.intro {
  // font-size: 5rem;
  // width: 100%;
  height: auto;
  // flex-shrink: 0;
  // color: #666;
  // font-weight: 900;
  flex-basis: 60%;
  // flex-grow: 99;

  @include section-desc();
}

@media screen and (max-width: 768px) {
  .about {
    flex-direction: column-reverse;
    margin-top: 20rem;
  }

  .figure {
    width: 100%;
    max-width: 100rem;
    height: auto;
  }
}
