@import "../../assests/styles/base";

.nav {
  z-index: 1000;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: $color-background;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 31rem;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px -3px 10px #0000005f, 0px 5px 0px $color-background;
  button {
    @include btn(35%, 16rem);
    @include btn-default();
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    // &:hover {
    //   @include btn-hover();
    // }
    &:active {
      @include btn-active();
    }

    img {
      height: 70%;
      width: auto;
      margin-right: 5%;
    }
  }
  .btn_menu {
    width: 24rem;
    height: 24rem;
    border-radius: 50%;

    .hamburger--close {
      height: 21.213px;
      g {
        transform: translate(1.5px, 1.655px);
        .path_1 {
          transform: translate(-241.597px, 247.501px) rotate(-45deg);
        }
        .path_2 {
          transform: translate(-380px, -7.048px);
          //   opacity: 0;
        }
        .path_3 {
          transform: translate(-225.329px, -257.179px) rotate(45deg);
        }
      }
    }
  }
  .btn--active {
    @include btn-active();
  }

  @media screen and (min-width: $screen-desktop) {
    display: none;
  }
}
