@import "../../assests/styles/base";

.sec_wrap {
  position: relative;
  //   min-height: 100vh;
  width: 100%;
  min-width: min-content;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 56rem;
  padding-bottom: 24rem;
}
.sec_head {
  z-index: 6;
  background: linear-gradient(
    to right,
    $color-primary 0%,
    $color-background 100%
  );
  padding-left: 8rem;
  font-size: $font-size-heading;
  color: white;
  left: 0;
}
